# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/
ENV/

# Model outputs and experiment results
results/
*.pt
*.pth
*.h5
*.ckpt
*.log
train_losses.log

# Wandb logs
wandb/

# System files
.DS_Store

# VS Code settings
.vscode/
.env
/data/mnist
/data/cifar10
